{% extends "base.html" %}
{% set active_page = "about" %}
{% block body %}
    <div class="my-3">
        <h2>Add new Sample</h2>
    </div>

    <form action="{{ url_for('new_sample') }}" method="post">
        <div class="form-group my-3">
            <label for="sample_name_box">Sample name</label>
            <input type="text" class="form-control" name="sample_name" id="sample_name_box">
        </div>
        <div class="my-3">
            <button type="submit" class="btn btn-primary">Save new sample</button>
        </div>
        {% if new_sample %}
            <div id="result" class="my-3">
                {% if new_sample.success == True %}
                    {{ new_sample.message }}
                {% else %}
                    <div class="warning">{{ new_sample.message }}</div>
                {% endif %}
            </div>
        {% endif %}
    </form>
{% endblock %}
