{% extends "base.html" %}
{% block body %}
    <H1>Log in</H1>
    <form class="my-4" action="{{ url_for('admin') }}" method="POST">
    <div class="row">
        <div class="col-5">
            <label for="username">Username</label>
            <input type="text" class="form-control my-2" name="username" id="username">
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <label for="password">Password</label>
            <input type="password" class="form-control my-2" name="password" id="password">
        </div>
    </div>
    <div class="row">
        <div class="col-2 my-3">
            <button type="submit" class="btn btn-primary" name="submit" value="add">Login</button>
        </div>
    </div>
{% endblock body %}