{% extends "base.html" %}
{% set active_page = "index" %}
{% block body %}
    This is the home page.

    <div id="graph-container"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.19.1/cytoscape.min.js"></script>
    <script src="https://unpkg.com/dagre@0.8.5/dist/dagre.js"></script>
    <script src="{{ url_for('static',filename='scripts/cytoscape-dagre.js') }}"></script>
    <script>
        var cy = cytoscape({

            container: document.getElementById('graph-container'), // container to render in

            elements: [
                {% for sample in all_samples -%}
                    {data: {id: '{{ sample.name }}', href: '{{ url_for('select_sample', sample_id=sample.id )}}'}},
                {% endfor %}
                {% for sample in all_samples -%}
                    {% for child in sample.children -%}
                        {data: {id: '{{ sample.name }}-{{ child.name }}', source: '{{ sample.name }}',
                                target: '{{ child.name }}'}},
                    {% endfor %}
                {% endfor %}
            ],

            style: [ // the stylesheet for the graph
                {
                    selector: 'node',
                    style: {
                        'background-color': '#666',
                        'label': 'data(id)'
                    }
                },

                {
                    selector: 'edge',
                    style: {
                        'width': 3,
                        'line-color': '#ccc',
                        'target-arrow-color': '#ccc',
                        'target-arrow-shape': 'triangle',
                        'curve-style': 'bezier'
                    }
                }
            ],

				layout: {
				    name: 'dagre',
                    spacingFactor: 1.5
				}

        });

        cy.on('tap', 'node', function () {
            window.location.href = this.data('href');
        });
    </script>

{% endblock %}