{% extends "base.html" %}
{% set active_page = "experiment_management" %}
{% block body %}
    <div class="my-3">
        <h2>Measurement Management</h2>
    </div>

    <form class="my-4" action="{{ url_for('measurement_management') }}" method="post">
        <h4>Add measurement</h4>
        <div class="row">
            <div class="col">
                <label for="measurement_name_box">Select a sample</label>
                <select name="sample_selection" class="form-select my-3" aria-label="Select sample to add measurement">
                    <option disabled selected> -- Select sample to add measurement --</option>
                    {% for sample in all_samples %}
                        <option value="{{ sample.id }}">{{ sample.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="experiment_name_box">Select an experiment</label>
                <select name="experiment_selection" class="form-select my-3" aria-label="Select experiment to add measurement">
                    <option disabled selected> -- select experiment to add measurement --</option>
                    {% for experiment in all_experiments %}
                        <option value="{{ experiment.id }}">{{ experiment.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="url_box">Add a url</label>
                <input type="text" class="form-control" name="url" id="url_box">
            </div>
            <div class="col my-3">
                <button type="submit" class="btn btn-primary" name="submit" value="add">Save new measurement</button>
            </div>
        </div>
    </form>

    <form class="row my-4" action="{{ url_for('measurement_management') }}" method="post">
        <h4>Delete measurement</h4>
        <div class="row">
            <div class="col">
                <select id="delete_sample_selection" name="delete_sample_selection" class="form-select my-3" aria-label="Select sample">
                    <option disabled selected>-- select a sample --</option>
                    {% for sample in all_samples %}
                        <option value="{{ sample.id }}">{{ sample.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="delete_measurement_selection">Select a measurement</label>
                <select disabled id="delete_measurement_selection" name="delete_measurement_selection" class="form-select my-3" aria-label="Select experiment to add measurement"></select>
            </div>
            <div class="col my-4">
                <button type="submit" class="btn btn-primary" name="submit" value="delete">Delete measurement</button>
            </div>
        </div>
    </form>

    <script>
        sample_select = document.querySelectorAll('#delete_sample_selection')[0];
        sample_select.addEventListener('change', update_measurement_selection)

        function update_measurement_selection(e) {
            let measurement_select = document.querySelectorAll('#delete_measurement_selection')[0];
            // Remove all current options from select element
            clear_select(measurement_select)

            // Request the measurements from the server
            request_measurement_list(e.target.value)
        }

        function request_measurement_list(sample_id) {
            // Send the id of the sample back to flask to get a list of the measurements associated with that sample
            let request = new XMLHttpRequest();
            request.open('POST', '_request_measurements', true);
            request.setRequestHeader('Content-Type', 'text; charset=UTF-8');

            request.onload = function () {
                if (this.status >= 200 && this.status < 400) {

                    let measurement_select = document.querySelectorAll('#delete_measurement_selection')[0];
                    measurement_select.disabled = false

                    let measurements = JSON.parse(this.response);

                    for (let key of Object.keys(measurements)) {
                        let opt = document.createElement("option");
                        opt.value = key;
                        opt.text = measurements[key]["url"];
                        measurement_select.add(opt);
                    }
                }
            };
            request.send(sample_id);
        }
    </script>


{% endblock %}
