{% extends "base.html" %}
{% set active_page = "samples" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>Sample overview</h2>
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                This interactive figure shows all sample records and the relationships between the samples. Clicking on
                a node will give further details about the sample. Clicking on an edge will give further details about
                the sample relationship if this data has been added.
            </div>
        </div>
        <div class="row" id="graph-container"></div>
        <div class="row mt-4">
            <div class="col">
                <h2>Sample details</h2>
                Select a sample from the dropdown menu to see additional sample details.
            </div>
        </div>
        <div class="row">
            <div class="col-6 my-2">
                <select name="sample_selection" class="form-select my-3" aria-label="Sample selection"
                        onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                    <option disabled {% if not current_sample %}selected{% endif %} value> -- select a sample --</option>
                    {% for sample in all_samples %}
                        <option value="{{ url_for('select_sample', sample_name=sample.name) }}"
                                {% if current_sample %}
                                    {% if current_sample.name == sample.name %}selected="selected"{% endif %}{% endif %}>{{ sample.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.19.1/cytoscape.min.js"></script>
    <script src="https://unpkg.com/dagre@0.8.5/dist/dagre.js"></script>
    <script src="{{ url_for('static',filename='graphs/cytoscape-dagre.js') }}"></script>
    <script src="{{ url_for('static',filename='graphs/cytoscape_canvas.js') }}"></script>
    <script src="{{ url_for('static',filename='graphs/network-graph.js') }}"></script>
    <script src="{{ url_for('static',filename='graphs/graph_data.js') }}"></script>
    <script src="{{ url_for('static',filename='graphs/graph_style.js') }}"></script>

    <script>

        var cy = cytoscape({
            pixelRatio: '1',
            container: document.getElementById('graph-container'), // container to render in

            elements: data,
            style: style,

            layout: {
                name: 'dagre',
                spacingFactor: 1.5
            }
        });

        cy.on('tap', 'node', function () {
            if (this.data('href') !== undefined) {
                window.location.href = this.data('href');
            }
        });

        // Draw a legend on a separate canvas over the graph
        const bottomLayer = cy.cyCanvas({
            zIndex: -1
        });
        const canvas = bottomLayer.getCanvas();
        const ctx = canvas.getContext("2d");

        var legend_scale = 0.1
        var canvas_top
        var left
        var right
        var width
        var height
        var legend_left
        var legend_spacing
        var font_size
        var line_width
        var line_padding
        const node_types = {% if node_types %}{{ node_types | tojson }}{% else %}[""]{% endif +%}
        const methods = {% if methods %}{{ methods | tojson }}{% else %}[""]{% endif %}

        cy.on("render cyCanvas.resize", evt => {
            clear_canvas(bottomLayer, ctx)
            update_variables(cy)
            render_edge_legend(ctx)
        })

    </script>
{% endblock body %}