{% extends "samples.html" %}
{% block graph_code %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.19.1/cytoscape.min.js"></script>
    <script src="https://unpkg.com/dagre@0.8.5/dist/dagre.js"></script>
    <script src="{{ url_for('static',filename='scripts/cytoscape-dagre.js') }}"></script>
    <script src="https://unpkg.com/cytoscape-canvas/dist/cytoscape-canvas.js"></script>

    <script>

        var cy = cytoscape({
            pixelRatio: '1',
            container: document.getElementById('graph-container'), // container to render in

            elements: [
                {data: {id: '{{ current_sample.name }}', href: '{{ url_for('select_sample', sample_name=current_sample.name )}}'}, 'classes': 'current_sample'},
                {% if current_sample.parent %}
                    {data: {id: '{{ current_sample.parent.name }}', href: '{{ url_for('select_sample', sample_name=current_sample.parent.name )}}'}, 'classes': 'parent'},
                {% endif %}
                {% if current_sample.children %}
                    {% for child in current_sample.children -%}
                        {data: {id: '{{ child.name }}', href: '{{ url_for('select_sample', sample_name=child.name )}}'}, 'classes': 'child'},
                    {% endfor %}
                {% endif %}

                {% if current_sample.parent %}
                    {'data': {'id': '{{ current_sample.parent.name }}-{{ current_sample.name }}', 'source': '{{ current_sample.parent.name }}',
                                'target': '{{ current_sample.name }}'{% if current_sample.creation_url %}, href: '{{ current_sample.creation_url }}'{% endif %}},
                            'classes': '{{current_sample.creation_type}}' },
                {% endif %}
                {% if current_sample.children %}
                    {% for child in current_sample.children -%}
                        {'data': {'id': '{{ current_sample.name }}-{{ child.name }}', 'source': '{{ current_sample.name }}',
                                'target': '{{ child.name }}'{% if child.creation_url %}, href: '{{ child.creation_url }}'{% endif %}},
                            'classes': '{{child.creation_type}}' },
                    {% endfor %}
                {% endif %}

            ],

            style: [ // the stylesheet for the graph
                {
                    selector: 'node',
                    style: {
                        'background-color': '#666',
                        'label': 'data(id)',
                        'font-size': 20
                    }
                },

                {
                    selector: '.current_sample',
                    style: {
                        'background-color': '#7cc95d'
                    }
                },

                {
                    selector: '.parent',
                    style: {
                        'background-color': '#c95d5d'
                    }
                },

                {
                    selector: '.child',
                    style: {
                        'background-color': '#5d98c9'
                    }
                },

                {
                    selector: 'edge',
                    style: {
                        'width': 3,
                        'line-color': 'grey',
                        'target-arrow-color': 'grey',
                        'target-arrow-shape': 'triangle',
                        'curve-style': 'bezier'
                    }
                },

                {% for method in methods %}
                {
                    selector: '.{{ method.name }}',
                    style: {
                        'line-color': '{{ method.colour }}',
                        'target-arrow-color': '{{ method.colour }}',
                    }
                },
                {% endfor %}
            ],

                layout: {
                    name: 'dagre',
                    spacingFactor: 1.5
                }

        });

        cy.on('tap', 'node, edge', function () {
            if (this.data('href') !== undefined) {
                window.location.href = this.data('href');
            }
        });

        // Draw a legend on a separate canvas over the graph
        const bottomLayer = cy.cyCanvas({
            zIndex: -1
        });
        const canvas = bottomLayer.getCanvas();
        const ctx = canvas.getContext("2d");

        cy.on("render cyCanvas.resize", evt => {
            bottomLayer.resetTransform(ctx);
            bottomLayer.clear(ctx);
            bottomLayer.setTransform(ctx);

            const top = cy.extent()['y1']
            const left = cy.extent()['x1']
            const right = cy.extent()['x2']
            const width = cy.extent()['w']
            const height = cy.extent()['h']
            const legend_scale = 0.2
            const legend_left = right - width * legend_scale
            let legend_spacing = height * 0.05
            let font_size = height / 35
            let line_width = height / 100
            let line_padding = (font_size + line_width) / 2
            ctx.lineWidth = line_width

            ctx.fillStyle = "black"
            ctx.font = `${font_size}px Helvetica`;
            ctx.fillText("   Sample relationship", legend_left, top + legend_spacing);

            const methods = {% if methods %}{{ methods | tojson }}{% else %}[""]{% endif %}

            for (let i = 0; i < methods.length; i++) {
                ctx.strokeStyle = methods[i]["colour"];
                ctx.beginPath();
                ctx.moveTo(legend_left + width * 0.13, top + legend_spacing * (i + 2) - line_padding);
                ctx.lineTo(legend_left + width * 0.20, top + legend_spacing * (i + 2) - line_padding);
                ctx.closePath();
                ctx.stroke();
                ctx.fillText(methods[i]["name"], legend_left, top + legend_spacing * (i + 2));
            }

            const node_types = {% if node_types %}{{ node_types | tojson }}{% else %}[""]{% endif %}

            ctx.fillText("   Node Type", left + legend_spacing, top + legend_spacing);
            for (let i = 0; i < 3; i++) {
                ctx.fillStyle = "black"
                ctx.fillText(`${node_types[i]["name"]} Sample`, left + legend_spacing, top + legend_spacing * (i + 2));
                ctx.beginPath();
                ctx.strokeStyle = node_types[i]["colour"]
                ctx.fillStyle = node_types[i]["colour"]
                ctx.arc(left + legend_spacing + 0.15 * width, top + legend_spacing * (i + 2) - line_padding, 10, 0, 2 * Math.PI);
                ctx.stroke()
                ctx.fill()
            }

        })

    </script>

{% endblock graph_code %}
