{% extends "base.html" %}
{% set active_page = "samples" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>Samples</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 my-3">
                <select name="sample_selection" class="form-select my-3" aria-label="Sample selection"
                        onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                    <option disabled {% if not current_sample %}selected{% endif %} value> -- select a sample --</option>
                    {% for sample in all_samples %}
                        <option value="{{ url_for('select_sample', sample_name=sample.name) }}"
                                {% if current_sample %}
                                {% if current_sample.name == sample.name %}selected="selected"{% endif %}
                                {% endif %}>{{ sample.name }}</option>
                    {% endfor %}
                </select>
                {% if current_sample %}
                    <div id="sample_details" class="my-3">
                        <h3>Sample Details</h3>
                        Sample Name: {{ current_sample.name }}<br>
                        Sample creation method: {{ current_sample.creation_type }}<br>
                        Sample creation details: {{ current_sample.creation_url | urlize }}<br>
                    </div>
                    <div id="sample_images" class="row my-4">
                        <div class="col">
                            <h3>Sample Images</h3>
                        </div>
                        {% if "FREEZER" not in config %}
                            <div class="col-4">
                                <a class="btn btn-primary" href="{{ url_for('add_image', sample_name=current_sample.name) }}"
                                   role="button"><i class="bi-plus-circle me-2"></i>Add new image</a>
                            </div>
                        {% endif %}
                    </div>
                    {% if current_sample.images %}
                        <link rel="stylesheet"
                              href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
                        <div class="lightbox-gallery">
                            <div class="row photos">
                                {% for image in current_sample.images %}
                                    {% set image_link = url_for('static', filename='sample_images/') + image.path %}
                                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{ image_link }}"
                                                                                    data-lightbox="photos"><img
                                            class="img-fluid" src="{{ image_link }}"></a></div>
                                {% endfor %}

                            </div>
                        </div>
                    {% else %}
                        Sample has no images.
                    {% endif %}
                    {% if not current_sample.parent_sample %}
                        <div id="parent_samples" class="my-3">
                            <h3>Parent samples</h3>
                                Sample is not derived from another sample.
                        </div>
                    {% endif %}
                    {% if not current_sample.children %}
                        <div id="child_samples" class="my-3">
                            <h3>Child samples</h3>
                                Sample has no child samples.
                        </div>
                    {% endif %}

                    <div id="sample_experiments" class="my-4">
                        <h3>Measurements</h3>
                        {% if current_sample.measurements %}
                            <ul>
                            {% for measurement in current_sample.measurements %}
                                <li>{{ measurement.experiment }} - {{ measurement.url | urlize }}</li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            Sample has no measurements.
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            {%  if current_sample %}
                <div class="col-6 my-3 ml-3">
                    <div class="row text-center">
                        <h3>Sample relationships</h3>
                    </div>
                    <div class="row" id="graph-container"></div>
                </div>
            {%  else %}
                <div class="row my-3 ml-3">
                    <div class="col">
                        <div class="row text-center">
                            <h3>Sample overview</h3>
                        </div>
                    </div>
                    <div class="row" id="graph-container"></div>
                </div>
            {% endif %}
        </div>
    </div>

    {% block graph_code scoped %}
    {% endblock graph_code %}

{% endblock body %}