{% extends "base.html" %}
{% set active_page = "sample_management" %}
{% block body %}
    <div class="my-3">
        <h2>Sample Management</h2>
    </div>

    <form class="row my-4" action="{{ url_for('sample_management') }}" method="POST">
        <h4>Add sample</h4>
        <div class="col">
            <label for="sample_name_box">Sample name</label>
            <input type="text" class="form-control my-2" name="sample_name" id="sample_name_box">
        </div>
        <div class="col">
            <label for="new_parent_select">Sample parent</label>
            <select name="parent_selection" class="form-select my-2" aria-label="Select sample parent">
                <option selected value="-1">None</option>
                {% for sample in all_samples %}
                    <option value="{{ sample.id }}">{{ sample.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col my-3">
            <button type="submit" class="btn btn-primary" name="submit" value="add">Save new sample</button>
        </div>
    </form>

    <form class="my-4" action="{{ url_for('sample_management') }}" method="POST">
        <h4>Edit sample</h4>
        <div class="row">
            <div class="col">
                <select name="sample_selection" class="form-select my-3" aria-label="Select sample to edit"
                        id="edit_sample_selection">
                    <option disabled selected> -- select a sample --</option>
                    {% for sample in all_samples %}
                        <option value="{{ sample.id }}">{{ sample.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="new_sample_name_box">New sample name</label><br>
                <input type="text" class="form-control my-2" name="new_sample_name" id="new_sample_name_box">
            </div>
            <div class="col">
                <label for="new_parent_select">New parent</label>
                <select name="parent_selection" class="form-select my-2" aria-label="Select sample parent"
                        id="edit_parent_select">
                    <option selected value="-1">None</option>
                </select>
            </div>

            <div class="col my-3 d-flex">
                <button type="submit" class="btn btn-primary align-self-end" name="submit" value="rename">Save changes</button>
            </div>
        </div>
    </form>

    <form class="row my-4" action="{{ url_for('sample_management') }}" method="POST" id="delete_sample_form">
        <h4>Delete sample</h4>
        <div class="col">
            <select name="sample_selection" class="form-select my-3" aria-label="Select sample to delete"
                    id="delete_sample_selection">
                <option disabled selected>-- select a sample --</option>
                {% for sample in all_samples %}
                    <option value="{{ sample.id }}">{{ sample.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col my-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete_sample_modal">Delete sample</button>
        </div>

        <div class="modal fade" id="delete_sample_modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_label">Confirm sample deletion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modal_text">
                        Are you sure you want to delete sample x?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" name="submit" value="delete">Delete Sample
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        const confirmation_modal = document.getElementById('delete_sample_modal')
        confirmation_modal.addEventListener('show.bs.modal', function (event) {
            const sample_selection = document.getElementById('delete_sample_selection')
            const sample_name = sample_selection[sample_selection.selectedIndex].text

            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            const modalBodyInput = document.getElementById('modal_text');
            modalBodyInput.innerText = `Are you sure you want to delete sample "${sample_name}?"`
        })
    </script>



    <script>
        // This script works on the edit part of the page to populate the parent select element.
        // This is done to exclude the selected sample from the parent selection list since a sample cannot
        // be its own parent.
        sample_select = document.querySelectorAll('#edit_sample_selection')[0];
        sample_select.addEventListener('change', update_parent_selection)

        let samples = { {% for sample in all_samples %}"{{ sample.id }}":"{{ sample.name }}", {% endfor %} "1": "None"}

        function update_parent_selection() {
            const parent_select = document.querySelectorAll('#edit_parent_select')[0];
            const selected_sample = sample_select.value
            // Remove all current options from select element
            clear_select(parent_select)

            for (let key of Object.keys(samples)) {
                if (key !== selected_sample) {
                    let opt = document.createElement("option");
                    opt.value = key;
                    opt.text = samples[key];
                    parent_select.add(opt);
                }
            }
        }

    </script>

{% endblock %}
