{% extends "base.html" %}
{% set active_page = "list_samples" %}
{% block body %}
    <h2>Sample Management</h2>

    <div class="my-3">
        <select name="sample_selection" class="form-select my-3" aria-label="Sample selection"
                onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
            {% for sample in all_samples %}
                <option value="{{ url_for('select_sample', sample_id=sample.id) }}">{{ sample.name }}</option>
            {% endfor %}
        </select>
        {% if selected_sample %}
            <div class="my-3">
                You selected sample: {{ selected_sample }}
            </div>
            <div class="my-3">
                <form method="post">
                    <input type="submit" class="btn btn-primary" value="Delete this sample">
                </form>
            </div>
        {% endif %}
        {% if sample_deleted %}
            <div class="warning my-3">
                {{ sample_deleted }}
            </div>
        {% endif %}
    </div>

{% endblock %}