{% extends "base.html" %}
{% set active_page = "sample_management" %}
{% block body %}
    <div class="my-3">
        <h2>Sample Management</h2>
    </div>

    <form class="row my-4" action="{{ url_for('sample_management') }}" method="POST">
        <h4>Add sample</h4>
        <div class="col">
            <label for="sample_name_box">Sample name</label>
            <input type="text" class="form-control my-2" name="sample_name" id="sample_name_box">
        </div>
        <div class="col">
            <label for="new_parent_select">Sample parent</label>
            <select name="parent_selection" class="form-select my-2" aria-label="Select sample parent">
                <option selected value="-1">None</option>
                {% for sample in all_samples %}
                    <option value="{{ sample.id }}">{{ sample.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col my-3">
            <button type="submit" class="btn btn-primary" name="submit" value="add">Save new sample</button>
        </div>
    </form>

    <form class="my-4" action="{{ url_for('sample_management') }}" method="POST">
        <h4>Edit sample</h4>
        <div class="row">
            <div class="col">
                <select name="sample_selection" class="form-select my-3" aria-label="Select sample to edit">
                    <option disabled selected> -- select a sample --</option>
                    {% for sample in all_samples %}
                        <option value="{{ sample.id }}">{{ sample.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="new_sample_name_box">New sample name</label><br>
                <input type="text" class="form-control my-2" name="new_sample_name" id="new_sample_name_box">
            </div>
            <div class="col">
                <label for="new_parent_select">New parent</label>
                <select name="parent_selection" class="form-select my-2" aria-label="Select sample parent">
                    <option selected value="-1">None</option>
                    {% for sample in all_samples %}
                        <option value="{{ sample.id }}">{{ sample.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col my-3 d-flex">
                <button type="submit" class="btn btn-primary align-self-end"  name="submit" value="rename">Save changes</button>
            </div>
        </div>
    </form>

    <form class="row my-4" action="{{ url_for('sample_management') }}" method="POST">
        <h4>Delete sample</h4>
        <div class="col">
            <select name="sample_selection" class="form-select my-3" aria-label="Select sample to delete">
                <option disabled selected>-- select a sample --</option>
                {% for sample in all_samples %}
                    <option value="{{ sample.id }}">{{ sample.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col my-4">
            <button type="submit" class="btn btn-primary" name="submit" value="delete">Delete sample</button>
        </div>
    </form>

{% endblock %}
